<div class="addPhoto">
  <header class="addPhoto__header">
    <h2>
      Создать фото-ссылку
    </h2>
  </header>
  <form class="addPhoto__form" [formGroup]="form">
    <section class="addPhoto__form-inputFile">
      <p>Выберите файл или перетащите его:</p>
      <input formControlName="imgFile"  type="file" accept=".png, .jpg, .jpeg" (input)="handleFileSelect($event)">
      <div class="line" [ngClass]="{errorLine: form.controls['imgFile'].invalid}"></div>
    </section>
    <section class="addPhoto__form-inputUrl">
      <input formControlName="url"  type="text" placeholder="Введите ссылку картинки">
      <div class="line" [ngClass]="{errorLine: form.controls['url'].invalid}"></div>
    </section>
    <section class="addPhoto__form-select">
      <p>Выберите тип анимации:</p>
      <select formControlName="select" name="Выберите тип анимации">
        <option value="left-right">С лево на право</option>
        <option value="right-left">C права на лево</option>
      </select>
      <div class="line" [ngClass]="{errorLine: form.controls['select'].invalid}"></div>
    </section>
    <button (click)="submit()" [disabled]="form.invalid">Готово</button>
  </form>
  <div class="previewImg" *ngIf="img !== ''">
    <img src="{{img}}" alt="img">
  </div>
</div>
