<div class="addPhoto">
  <header class="addPhoto__header">
    <h2>
      Create image-links
    </h2>
  </header>
  <form class="addPhoto__form" [formGroup]="form">
    <section class="addPhoto__form-inputFile">
      <p>Select a file or drag and drop it:</p>
      <input formControlName="imgFile"  type="file" accept=".png, .jpg, .jpeg" (input)="handleFileSelect($event)">
      <div class="line" [ngClass]="{errorLine: form.controls['imgFile'].invalid}"></div>
    </section>
    <section class="addPhoto__form-inputUrl">
      <input formControlName="url"  type="text" placeholder="Введите ссылку картинки">
      <div class="line" [ngClass]="{errorLine: form.controls['url'].invalid}"></div>
    </section>
    <section class="addPhoto__form-select">
      <p>Select a type of animation:</p>
      <select formControlName="select" name="Выберите тип анимации">
        <option value="left-right">From left to right</option>
        <option value="right-left">From right to left</option>
      </select>
      <div class="line" [ngClass]="{errorLine: form.controls['select'].invalid}"></div>
    </section>
    <button (click)="submit()" [disabled]="form.invalid">Done</button>
  </form>
  <div class="previewImg" *ngIf="img !== ''">
    <image-cropper
      [imageBase64]="img"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      (imageCropped)="fileChangeEvent($event)"
    ></image-cropper>
  </div>
</div>
