<div class="main">
  <header class="main__header">
    <h1>
      Image-links
    </h1>
    <button routerLink="add-photo">
      Create new link
    </button>
  </header>
  <main>
    <div *ngIf="elements.length > 0; else elseBlock" class="main__elements">
      <div
        class="main__elements-elem"
        *ngFor="let i of elements"
        [ngStyle]="{'animation': randomFunc(i.animation)}">
        <a href="{{i.url}}" target="_blank">
          <img src="{{i.base64}}" alt="img" class="elem__img">
          <div class="watch" style="">
            <img src="./assets/arrow.svg" alt="img">
          </div>
        </a>
      </div>
    </div>
    <ng-template #elseBlock>
      <p>You aren`t have any links now. Change it:)</p>
    </ng-template>
  </main>
</div>
